body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.connect4-board {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 480px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  margin: 4px;
}
