<section id="game-view">
    <div class="container d-flex flex-row justify-content-center">
        <button id="game-return-btn" class="btn btn-primary w-75" [routerLink]="['/home']">Return</button>
    </div>
    <div id="game-board" class="container my-5">
        <div id="token-drop">
            <div id="status-gif-container"></div>
            <div id="drop-row">
                <div class="drop-cell"></div>
                <div class="drop-cell"></div>
                <div class="drop-cell"></div>
                <div class="drop-cell"></div>
                <div class="drop-cell"></div>
                <div class="drop-cell"></div>
                <div class="drop-cell"></div>
            </div>
        </div>
        <div id="connect4-board" [ngStyle]="{'background-color': game?.theme?.color}">
            <div class="row" *ngFor="let row of game?.grid">
                <div class="cell" *ngFor="let cell of row">
                    <img [hidden]="cell != ''"
                        src="{{cell == 'X' ? game?.theme?.playerToken?.url : game?.theme?.computerToken?.url}}"
                        alt="Token">
                </div>
            </div>
        </div>
    </div>
    <div id="game-status" class="container text-center fw-bold fs-3">{{game?.status}}</div>
</section>